.center {
    justify-content: center;
}

.welcome-container {
    opacity: 0.85;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 1000px;
    height: auto;
    background-color:#003399;
    color: white;
    padding: 25px
}

.pure-button {
    margin: 10px;
}

.pure-button:hover {
    background-color: orange;
    color: white
}

.contact-container {
    opacity: 0.85;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 400px;
    height: auto;
    background-color:#003399;
    color: white;
    padding: 25px
}

.container-head {
    font-weight: bold;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    text-decoration: underline;
}

.bio-head {
    margin: 25px;
}

.bioPic {
    border: 3px black solid;
}

.bio-title {
    font-weight: bold;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    margin-left: 50px;
    margin-right: auto;
    text-decoration: underline;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}

#portfolio-title {
    color: white;
    letter-spacing: normal;
    background-color:  #003399;
    opacity: 0.85;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: bold;
    padding: 15px;
    margin-top: 100px;
    text-decoration: underline;
}

.card .front img {
    height:290px;
    width:390px
}

.portfolio {
    margin-left: 240px;
    margin-top: 200px;
}

.card {
    margin-top: 25px;
    margin-left: 25px;
    transform: translate(-50%,-50%);
    transform-style: preserve-3d;
    height: 300px;
    width: 400px;
    perspective: 600px;
    transition: 0.5s;
    border: 5px  #003399 solid;
}

.card .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #003399;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.card:hover .front {
    transform: rotateX(-180deg)
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}

.card:hover .back {
    transform: rotateX(0deg)
}

.card .back .details { 
    letter-spacing: normal;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 5%;
}

.card .back .details p {
    font-size: 14px;
}

.card .back .details  a {
    color: black;
    margin: 10px
}

.card .back .details  a:hover {
    color: orange;
    margin: 10px;
    padding: 5px
}